
/************* BUTTONS ***********/

@mixin btn-sm-modify {
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}

@mixin btn-base {
    padding: 0.25rem 1.5rem;
    border-radius: 0.25rem;
    border: none;
}

$color-main: #26aac2;
$color-footer: #F4F8FE;

.btn-main {
    @include btn-base();
    background-color: $color-main;
    color: white;
    border: 1px solid $color-main;

    &:hover {
        background-color: white;
        color: $color-main;
    }

    &-s {
        @extend .btn-main;
        @include btn-sm-modify();
    }
}

.btn-sec {
    @include btn-base();
    color: #000000;
    background-color: transparent;

    &:hover {
        color: #888;
    }

    &-s {
        @extend .btn-sec;
        @include btn-sm-modify();
    }
}

/**************** MENU ************/


    .main-menu {
        margin-bottom: 0;
        li {
            font-size: 1rem;
            list-style: none;
            display: inline;
            margin-right: 2rem;
            a {
                color: #000000;
                text-decoration: none;
                padding: 4px;
                font-size: 1.2rem;
                font-weight: 500;
                &:hover {
                    color: white;
                    background-color: #26aac2;
                    border-radius: 10px;
                }
            }
        }
    }


.icon-sm {
    i {
        font-size: 1.25rem;
        color: $color-main;
        padding: 0.4rem 0.65rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
        border-radius: 50%;
    }
}

.benefit {
    display: flex;
    flex-direction: column;
    text-align: center;
    .icon {
        color: $color-main;
        font-size: 7.5rem;
    }

    .description {
        .title {
            font-size: 2rem;
        }
        .text {
            color: #888;
            font-weight: 600;
        }
    }

    .cta {
        color: $color-main;
        font-weight: 600;
        margin-top: 3rem;
    }
}


.icon-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .icon {
        padding: 0;
        color: $color-main;
        font-size: 10rem;
    }
    .title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: -1rem;
    }
}